<header class="bg-white shadow py-4">
    <div class="container flex items-center justify-between">
        <h4 class="font-bold texty-xl">Mail Box</h4>
        <div class="flex items-center">
            <a routerLink="register"  class="px-3 font-medium hover:text-blue-600">Register</a>
            <a routerLink=""  class="px-3 font-medium hover:text-blue-600">Login</a>
            <div class="px-3 font-medium cursor-pointer hover:text-blue-600" (click)="logout()">Logout</div>
        </div>
    </div>
</header>