<div class="grid grid-cols-4 gap-6">
  <div class="">
    <app-sidibar></app-sidibar>
  </div>
  <div class="col-span-3">
    <app-card>
      <card-title>
        <h4 class="text-lg font-bold px-3.5">Messages</h4>
      </card-title>
      <card-body>
        <div class="border-b border-gray-200">
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
          <app-message-item></app-message-item>
        </div>
         </card-body>
    </app-card>
  </div>
</div>
